body {
    background-color: #F2F6F7;
    scroll-behavior: smooth;
    text-align: center;
}
header {
    margin: 15px;
}
button {
    margin: 15px;
    border: none;
    padding: 10px 21px;
    background-color: #070B26;
    color: white;
}
.card {
    border: none;
}
.user-input {
    margin: 10px;
}
